
@media (min-width: 992px) {
    .navbar {
        min-height         : 100vh;
        width              : var(--sidebar-width);
        background         : linear-gradient(hsla(var(--sidebar-hsl), 0.8), hsla(var(--sidebar-hsl), 0.8)), url(../img/sidebar-img.jpg);
        background-size    : cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    #content-wrapper {
        padding-left: var(--sidebar-width);
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
        margin-top: 10px;
    }

    .color-switcher {
        top: 120px !important;
    }
}

@media (max-width: 500px) {
    #home h1 {
        font-size  : 1.2rem;
        margin-top : 10px;
        font-weight: 200;
    }

    .btn-home {
        flex-direction: column;
    }

    .btn-home a {
        margin-bottom: 10px;
    }

    .btn-home a:last-child {
        margin-bottom: 0;
    }
}